asgiref
async-generator
attrs
# backports.zoneinfo
beautifulsoup4
bs4
certifi
cffi
charset-normalizer
Django
django-crispy-forms
django-emoji-picker
exceptiongroup
h11
idna
lxml
outcome
pycparser
PySocks
requests
selenium
sniffio
sortedcontainers
soupsieve
sqlparse
trio
trio-websocket
tzdata
Unipath
urllib3
wsproto
