{% extends 'layouts/base.html' %}
{% block content %}
<body class="bg-light bg-gradient">
<div class="card col-md-6 col-sm-12">
    <a href="/polls" ><h3>Назад</h3></a>
    <h6>Заполняйте варианты ответов по порядку</h6>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <br/>
        <button type="submit" class="btn btn-secondary">Подтвердить</button>
    </form>
</div>
</body>
{% endblock %}
{% block javascripts %}{% endblock javascripts %}