{% extends "layouts/base.html" %}

{% block title %} Чаты {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
{% if messages %}
<div class="col-md-6">
    {% for message in messages %}
    <div class="alert alert-success">
        <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
            <i class="tim-icons icon-simple-remove"></i>
        </button>
        <span><b> <i class="fa fa-check"></i> {{ message|safe }}</b></span>
    </div>
    {% endfor %}
</div>
{% endif %}
<div class="row mt-5">
    <div class="col-md-12">
        <div class="card">
            <h3 class="ml-3 mt-3">Боты</h3>
            </div>
            <div class="card-body">
                <div class="toolbar">
                    <a class="btn btn-simple btn-info" href="{% url 'bot_create' %}">+ Добавить</a>
                </div>
                <table id="datatable" class="table table-striped">
                    <thead>
                    <tr>
                        <th>Ссылка</th>
                        <th>Токен</th>
                        <th>Название</th>
                        <th>Начало</th>
                        <th>Активен</th>
                        <th>День</th>
                        <th>Действия</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for bot in bots %}
                    <tr>
                        <td><a href="{{ bot.ref }}" target="_blank">{{ bot.ref }}</a></td>
                        <td>{{ bot.token }}</td>
                        <td>{{ bot.title }}</td>
                        <td>{{ bot.start_date }}</td>
                        <td>{% if bot.is_started %}✅{% else %}❌{% endif %}</td>
                        <td>{{ bot.day }}</td>
                        <td>
                            <a href="{% url 'bot_update' bot.id %}"
                               class="btn btn-link btn-warning btn-icon btn-sm edit"><i
                                    class="tim-icons icon-pencil"></i></a>
                            <a href="{% url 'bot_delete' bot.id %}"
                               class="btn btn-link btn-danger btn-icon btn-sm remove"><i
                                    class="tim-icons icon-simple-remove"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>

        </div>

    </div>

</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}