

      <footer class="footer">
        <div class="container-fluid">
          <ul class="nav">
            <li class="nav-item">
              <a target="_blank" rel="noopener noreferrer"
                 href="https://t.me/tg_post_app" class="nav-link">
                   Web - Application 2023 &#169;
              </a>
            </li>
          </ul>
          <div class="copyright">
            <a target="_blank" rel="sponsored noopener noreferrer"
                      href="https://t.me/tg_post_app">Layko-team</a>
            - developed by <a target="_blank" rel="noopener noreferrer" href="https://github.com/lizzardarcher">lizzard-archer</a>
          </div>
        </div>
      </footer>
      
